$color-blue: #302399;
$color-purple: #5f23a5;
$color-black: #0e0f26;

:root {
  --color-black: #0e0f26;
  --color-blue: #302399;
  --color-purple: #5f23a5;
  --color-purple-1: #562095;
  --color-white: #fff;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
}
