.overview {
  display: flex;
  border-bottom: 0.1rem solid var(--color-grey-light-2);
  align-items: center;

  &__heading {
    margin-right: auto;
  }
  &__studio {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    &-icon {
      width: 1.8rem;
      height: 1.8rem;
      fill: var(--color-purple);
      display: flex;
      align-items: center;
    }
  }
  &__rating {
    background-color: var(--color-purple);
    margin-left: 3rem;
    color: var(--color-grey-light-1);
    align-self: stretch;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include respond(tab-port-small) {
      padding: 0 1.6rem;
    }

    &-average {
      font-size: 2.4rem;
      font-weight: 300;
      @include respond(tab-port-small) {
        font-size: 2.2rem;
      }
    }
    &-count {
      font-size: 0.8rem;
      text-transform: uppercase;
      @include respond(tab-port-small) {
        text-align: center;
      }
    }
  }
}

.detail {
  display: flex;
  padding: 4.6rem;
  background-color: var(--color-grey-light-1);
  border-bottom: 0.1rem solid var(--color-grey-light-2);
  @include respond(tab-port) {
    padding: 3rem;
  }
  @include respond(tab-port-small) {
    flex-direction: column;
  }
}

.description {
  background-color: var(--color-white);
  box-shadow: 0 2rem 5rem 0 rgba($color-black, 0.05);
  flex: 0 0 60%;
  margin-right: 4.6rem;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 2rem;
    margin-right: 3rem;
  }
  @include respond(tab-port-small) {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.paragrapth:not(:last-of-type) {
  margin-bottom: 2rem;
}
.list {
  list-style: none;
  padding: 3rem 1rem;
  margin: 3rem 0;
  border-top: 0.1rem solid var(--color-grey-light-2);
  border-bottom: 0.1rem solid var(--color-grey-light-2);
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  &__item::before {
    content: "";
    height: 1rem;
    width: 1rem;
    display: inline-block;
    margin-right: 0.7rem;
    background-color: var(--color-purple);
    -webkit-mask-image: url(/img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
  }
}
.recomend {
  font-size: 1.2rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;
  &__photos {
    display: flex;
  }
  &__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    outline: 0.3rem solid var(--color-white);
  }
  &__photo:not(:last-child) {
    margin-right: -1.2rem;
  }

  &__text {
    margin-right: auto;
  }
}
